*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h1{
    width: 100%;
    text-align: center;
    font-size: 2rem; 
    text-transform: uppercase;
}

button {
  background-color: rgb(8, 221, 8); 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 1,5rem;   
}

button:hover {
  background-color: rgb(8, 161, 8); 
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    background: #0a4701;
    border: 1px solid #000; 
    border-radius: 5px;
    font-family: sans-serif;
}
